.card{

    width:340px;

    min-height:240px;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:30px;

    border-radius:18px;

    background:rgba(255,255,255,.03);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(12px);

    transition:all .35s ease;

}

.card:hover{

    transform:translateY(-8px);

    border-color:#00d9ff;

    box-shadow:0 0 25px rgba(0,217,255,.15);

}
